<header class="p-3 bg-dark text-white">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg
          class="bi"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a routerLink="/dashboard" class="nav-link px-2 text-secondary"
          >Dashboard</a
        >
      </li>
      <li>
        <a routerLink="/employee" class="nav-link px-2 text-white">Employee</a>
      </li>
      <li>
        <a routerLink="/projects" class="nav-link px-2 text-white">Projects</a>
      </li>
      <li>
        <a routerLink="/project-employee" class="nav-link px-2 text-white"
          >Project-Employee</a
        >
      </li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-primary me-2" (click)="logoff()">
        Logoff
      </button>
    </div>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
